/* CSS Document */



a { color: #555555; }
a:hover { background-color: #999999; color: white; }     

div.container { 
                margin:20px; 
                padding: 0px;
                border: 1px solid gray;
                box-shadow: 10px 10px 5px #888888;  
              }
div.header {
             margin: 0px; 
             padding-top: 1px;
             padding-left: 20px;
             padding-bottom: 1px;
             color: white; 
             background-image: url("obr/header.jpg");
             clear:left;  
           }
div.content { 
                margin: 0px; 
                padding: 20px;                
             }
div.footer {
             padding: 20px; color: white;             
             background-image: url("obr/header.jpg");
	     clear:left;
           }
h2 {
      color: #335599 
   }

h3 {
      color: #335599 
   }

